@use "010-settings" as settings;
@use "010-settings/legacy-settings/legacy-settings_symbol" as symbol;
@use "010-settings/legacy-settings/legacy-settings_panel" as *;
@use "050-layout/basics" as basic-layout;

$container-icon-size: symbol.$il-icon-size-large !default;
$container-top-edge-padding: basic-layout.$il-padding-medium-vertical !default;
$container-inner-gap: basic-layout.$il-margin-large-horizontal !default;
$container-inner-padding: basic-layout.$il-padding-medium-vertical basic-layout.$il-padding-medium-horizontal !default;

.ilContainerListItemOuter {
  display: grid;
  grid-template-areas: "checkbox icon body";
  grid-template-columns: max-content auto 1fr;

  .ilContainerListItemIcon {
    grid-area: icon;

    .ilListItemIcon {
      width: $container-icon-size;
      margin-inline-end: basic-layout.$il-margin-small-horizontal;
    }
  }
  .ilContainerListItemCB {
    grid-area: checkbox;
    align-self: center;
    margin-inline-end: basic-layout.$il-margin-small-horizontal;
  }
  .ilContainerListItemContent {
    grid-area: body;
  }
}

.il_ContainerListItem {
  display: grid;
  grid-template-areas: "title dropdown";
  grid-template-columns: 1fr max-content;

  .il_ContainerItemTitle {
    grid-area: title;
    margin-top: 0;
  }

  .ilFloatRight {
    grid-area: dropdown;
  }

  .ilListItemSection {
    grid-column: 1/2;
  }
}

div.ilPreconditionItem {
	margin: 0 -10px;
}

/* Repository */
div.ilContainerListItemOuter {
	padding: basic-layout.$il-padding-medium-vertical basic-layout.$il-padding-medium-horizontal;
	zoom: 1;

	.subitem {
		margin-right: (-(basic-layout.$il-padding-large-horizontal));
	}
}

.ilContainerItemsContainer {
	padding: 0;
	margin: 0;
	list-style: none;
}

div.tblfooter {
	&.ilContainerListFooter {
		font-size: settings.$il-font-size-base;
		padding: basic-layout.$il-padding-large-vertical basic-layout.$il-padding-large-horizontal;
		text-align: left;
		margin: 0;
		> input {
			padding: 0;
			margin: 0;
			width: auto;
		}
		> label {
			margin: 0;
			padding: 0 0 0 8px;
			vertical-align: top;
			width: auto;
		}
	}
}

input[name^="position[blocks]"] {
	margin: 0 0 0 -2px;
}

div.ilListItemSection {
	clear:both;
    max-width: calc(unquote("100% - 40px"));
}

div.ilContainerListItemOuterHighlight {
	background-color: settings.$il-highlight-bg;
	zoom: 1;
}


.ilCLI {
	padding: 0;
}

div.ilContainerListItemCB {
	/*float: left;
	width: 25px;*/
	display: table-cell;
	vertical-align: top;
	padding-right: basic-layout.$il-padding-large-horizontal;

	img{
		width: 20px;
	}
}

div.ilContainerListItemIcon {
	/* margin-top: -3px;
	   float: left;
	position: absolute; */
	display: table-cell;
	vertical-align: top;
}
div.ilContainerListItemIcon a {
	display: block;
	margin-top: -(basic-layout.$il-padding-small-vertical);
}

div.ilContainerListItemIconCB {
	margin-left: basic-layout.$il-padding-large-horizontal;
}

div[class^="il_editarea"] .ilContainerListItemOuter img,
img.ilListItemIcon {
	width: symbol.$il-icon-size-medium;
	height: symbol.$il-icon-size-medium;
	max-width: none;
}

div.ilContainerListItemContent {
	/* margin-left: 35px; */
	display: table-cell;
	vertical-align: top;
	width: 100%;
}

/* If checkbox is activated, add spacing */
div.ilContainerListItemContentCB {
	/* margin-left: 60px; */
}

div.il_ContainerListItem {
	margin: basic-layout.$il-padding-small-vertical 0;
	padding-left: basic-layout.$il-padding-medium-horizontal;
	width:100%;
}

.ilContainerBlockHeader {
	//See headings overlays input field in sorting view 32364
	.form-control {
		width: auto;
		display: inline-block;
	}
}

.ilContainerBlockHeaderExpanded, .ilContainerBlockHeaderCollapsed {
	background-repeat: no-repeat;
	background-position: 15px 10px;
	background-size: 20px 20px;
	padding-left: 45px;
	/* padding-top: 6px; */
	background-color: settings.$il-main-dark-bg;
	cursor: pointer;
}


.ilContainerBlockHeaderExpanded {
	background-image: url("#{settings.$il-background-images-path}nav/tree_exp.svg");
}

.ilContainerBlockHeaderCollapsed {
	background-image: url("#{settings.$il-background-images-path}nav/tree_col.svg");
}


div#cont_paste_explorer_tree ul.il_Explorer {
	margin: 0 0 0 24px;
}

#ilContRepIntro {
	margin: 20px 0 50px 0;
	clear:both;
}

div#ilContRepIntro img {
	float: right;
	width: 150px;
	height: 150px;
}

.ilContObjectiveObjectListItem {
	background-color: settings.$il-main-bg;
}

.ilContObjectivesViewTestItem {
	background-color: settings.$il-main-dark-bg;
	margin-bottom: 10px;
}


.ilContainerTileRows {
	padding: basic-layout.$il-padding-medium-vertical basic-layout.$il-padding-large-horizontal;
	background-color: settings.$il-main-bg;
}

.ilContainerTileRows .card-no-highlight {
	height: 0px;
}

.ilContainerTileRows .il-chart-progressmeter-container {
	height: 100%;
}

.ilContainerTileRows .il-card h5 button.btn {
	font-size: inherit;
}

.ilContainerShowMore {
	padding: 15px 10px;
	background-color: settings.$il-main-dark-bg;
	text-align: center;
	margin: 0 (-(basic-layout.$il-padding-large-horizontal));
}

.il_ContainerListItem .navbar-form .modal .radio {
       display: block;
}

.il_ContainerListItem .navbar-form .modal .form-group {
       display: block;
}

.il_ContainerItemTitle .modal .form-horizontal .radio {
	display: block;
}

.il_ContainerItemTitle .modal .form-horizontal .form-group {
	display: block;
}
.il_ContainerItemTitle .btn {
	font-size: settings.$il-font-size-large;
}

.ilObjListRow {
  &:hover {
    background-color: settings.$il-main-dark-bg;
  }
}

// select all control in manage view
// TODO: Should be neither a tablefooter nor a row. Change in html template eventually!
.tblfooter.row.ilContainerListFooter {
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 20px;
  border-top: $il-panel-border;
  margin: 0;
  padding: $container-inner-padding;
  background: none;
  > * {
    width: auto;
    margin: 0;
    padding: 0;
  }
}
