@use "../010-settings" as settings;
@use "../010-settings/legacy-settings/legacy-settings_panel" as ls;
@use "../030-tools/_tool_border-radius" as t-brad;
@use "../030-tools/tool_clearfix" as clearfix;
@use "../050-layout/basics" as layout-basics;

$panel-boxed-heading-padding: ls.$il-panel-heading-padding;
$panel-boxed-body-padding-vertical: ls.$il-panel-body-padding-vertical;
$panel-boxed-body-padding-horizontal: ls.$il-panel-body-padding-horizontal;

@mixin make-panel-container($is-boxed: true) {
  // one panel after another
  & + & {
    margin-top: layout-basics.$il-margin-xlarge-vertical;
  }

  @if $is-boxed {
    border: ls.$il-panel-border;
    border-radius: ls.$il-panel-border-radius;
    -webkit-box-shadow: ls.$il-panel-shadow;
    box-shadow: ls.$il-panel-shadow;
  }
}

@mixin make-sub-panel($is-boxed: true) {
    @if $is-boxed {
      border: none;
      border-radius: 0;
      margin: -#{$panel-boxed-body-padding-vertical} -#{$panel-boxed-body-padding-horizontal};
      &:not(:first-child) {
        margin-top: 0;
      }
      &:not(:last-child) {
        margin-bottom: 0;
      }
  }
}

@mixin make-panel-header($is-boxed: true, $has-flex-items: true) {
  @if $is-boxed {
    padding: $panel-boxed-heading-padding;
    background-color: settings.$il-main-dark-bg;
    @include t-brad.border-top-radius(ls.$il-panel-border-radius);
    h1, h2, h3, h4, h5 {
      margin: 0;
    }
  } @else {
    margin-bottom: layout-basics.$il-margin-small-vertical;
  }
}


@mixin make-panel-body($is-boxed: true) {
  @include clearfix.clearfix();
  @if $is-boxed {
    padding: $panel-boxed-body-padding-vertical $panel-boxed-body-padding-horizontal;
    background-color: settings.$il-main-bg;
  }
}
