@use "010-settings" as settings;
@use "050-layout/standardpage/layout_standardpage" as spage;
@use "050-layout/layout_breakpoints" as layout-break;

////
/// The current page is restricted in a centered max-width boxed container.
/// Occasionally, we might want to break out of it for a table or a full width banner.
/// The slate pushing the page to the side is a challenge
////

/// Some common positioning values. Needs right and left positioning values to work.
@mixin _general-positioning {
  position: relative;
  margin-left: -50vw;
  margin-right: -50vw;
}

/// MUST stand alone on root level. MUST NOT be nested.
/// Breaks a section out of the boxed content page to reach from the edge of the mainbar or slate to the other side.
@mixin breakout-section($class) {
  .il-layout-page.with-mainbar-slates-engaged {
    #{$class} {
      @include _general-positioning();
      right: 50%;
      left: calc(50% + (spage.$il-mainbar-btn-height + spage.$il-standard-page-slate-width) / 2);
      max-width: calc(100vw - (spage.$il-mainbar-btn-height + spage.$il-standard-page-slate-width));
      @content;
    }
  }
  .il-layout-page:not(.with-mainbar-slates-engaged) {
    #{$class} {
      @include _general-positioning();
      right: 50%;
      left: calc(50% + (spage.$il-mainbar-btn-height / 2));
      max-width: calc(100vw - (spage.$il-mainbar-btn-height));
      @content;
    }
  }
  @media screen and (max-width: layout-break.$screen-md) {
    .il-layout-page.with-mainbar-slates-engaged,
    .il-layout-page:not(.with-mainbar-slates-engaged) {
      #{$class} {
        left: 50%;
        right: 50%;
        max-width: 100vw;
      }
    }
  }
}

/// to center and restrict the width e.g. of paragraph section within a breakout section
@mixin inner-boxed-section($inner-width: settings.$il-content-container-width) {
  margin: 0 auto;
  width: auto;
  max-width: $inner-width;
}
