@use "sass:math";
@use "010-settings" as *;
@use "010-settings/legacy-settings/legacy-settings_panel" as ls;
@use "030-tools/_tool_border-radius" as *;
@use "030-tools/tool_clearfix" as *;
@use "030-tools/tool_panel-maker" as panel;
@use "050-layout/basics" as *;
@use "050-layout/standardpage/" as *;
@use "050-layout/layout_breakpoints" as break;

//== Panel
//
//##

$il-panel-style-boxed: true !default;

//Valid for all panels (if not overridden)
.panel,
// legacy panel
.ilContainerBlock  {
	@include panel.make-panel-container($il-panel-style-boxed);

	.panel-heading,
	.ilContainerBlockHeader:not(.ilHeader) {
		@include panel.make-panel-header($il-panel-style-boxed);
	}

	.panel-body {
		@include panel.make-panel-body($il-panel-style-boxed);

		.panel-sub,
		> .il-item-group {
			@include panel.make-sub-panel($il-panel-style-boxed);
		}
	}

	.panel-footer {
		@if($il-panel-style-boxed) {
			padding: ls.$il-panel-footer-padding;
			background-color: ls.$il-panel-footer-bg;
			@include border-bottom-radius((ls.$il-panel-border-radius - 1));
		}
	}
}

//Special assignments for Panels using Flex layouts (Standard, Secondary, Report and Sub)
.panel-flex {
	.panel-heading {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		gap: $il-margin-small-horizontal;
	}
	.panel-title,
	h2.ilHeader,
	.ilBlockHeader h4,
	.ilHeader h4 {
		order: 1;
	}
	.panel-viewcontrols {
		order: 3;
		width: 100%;
		justify-content: center;
	}
	.panel-controls {
		display: flex;
		gap: $il-margin-small-horizontal;
		justify-content: flex-end;
		margin-left: auto;
		order: 2;
	}
}

//
// Specific locations
//

// Dashboard
#ilContentContainer > .row > #il_center_col,
#ilContentContainer > .row > #il_right_col {
	[id*="block_"]:not(:first-child) {
		margin-top: $il-margin-xlarge-vertical;
	}
}

// Repository
#il_center_col .ilContainerBlock {
	margin-bottom: $il-margin-xlarge-vertical;
}
