@use "050-layout/basics" as layout-basics;

.c-field-password {
  position: relative;
  &__revelation-glyph {
    position: absolute;
    top: 0;
    right: layout-basics.$il-margin-small-horizontal;
    bottom: 0;
    align-items: center;
    &--reveal {
      display: flex;
    }
    &--mask {
      display: none;
    }
  }

  &.revealed {
    .c-field-password__revelation-glyph--reveal {
      display: none;
    }
    .c-field-password__revelation-glyph--mask {
      display: flex;
    }
  }
}
