@use "010-settings" as *;


div.ilTableOuter {
	@media only screen and (max-width: $il-grid-float-breakpoint-max) {
		max-width: 100%;
		overflow: auto;
	}
}

.table-responsive .dropdown-menu {
	@media only screen and (max-width: $il-grid-float-breakpoint-max) {
        position: relative;
    }
}

/* -------------------- table formatting ------------------ */

div.ilCommandRow {
    text-align: right;
    padding-right: 1%;
    margin-bottom: 15px;
}

div.ilCommandRow.one_side_col {
    padding-right: 22%;
}

table.std {
   color: $il-text-color;
   background-color: $il-main-dark-bg;
   border-spacing: 0;
   border-collapse: collapse;
   border: 1px solid #9eadba;
}


.fullwidth_invisible {
   color: $il-text-color;
   background-color: $il-main-dark-bg;
   width: 100%;
   border-spacing: 0;
}

table.nobackground {
   color: $il-text-color;
   background-color: inherit;
   border-spacing: 0;
   padding: 3px;
}


.subitem {
 clear: both;
 margin: 0 -10px 0 0;
 padding-top: 5px;
 /* border-top: 1px dotted #c0c0c0; */
}

td.nobackground {
   color: black;
   background-color: inherit;
   border-spacing: 0;
   border: none;
   padding: 3px;
   vertical-align: top;
}

tr.tbltitle {
   border-bottom: 1px solid #9eadba;
}

tr.std {
   background-color: white;
   color: $il-text-color;
   padding: 3px;
}

th {
   text-align: left;
   vertical-align: bottom;
   font-weight: $il-font-weight-base;
}

td.std, th.std {
   padding: 4px 6px;
   text-align: left;
}

.calstd .btn {
   white-space: normal;
}

th.option, td.option {
   background-color: $il-main-bg;
   color: $il-text-color;
   padding: 3px;
   font-weight : $il-font-weight-bold;
   vertical-align: top;
   text-align: right;
   border-top: 1px solid #9eadba;
}

td.sub_option {
   background-color: white;
   color: $il-text-color;
   padding: 3px;
   font-weight : $il-font-weight-bold;
   vertical-align: top;
   border-top: 1px solid #9eadba;
}

td.option_value {
   background: none white;
   color: $il-text-color;
   padding: 3px;
   vertical-align: top;
   text-align: left;
   border-top: 1px solid #9eadba;
}

td.option_value_center {
   background: none white;
   color: $il-text-color;
   padding: 3px;
   vertical-align: top;
   text-align: center;
   border-top: 1px solid #9eadba;
}

td.option_desc, p.option_desc {
   background: none white;
   color: $il-text-color;
   padding: 3px;
   font-style: italic;
   font-weight: $il-font-weight-base;
   vertical-align: top;
   text-align: left;
}

td.boxed {
   border: 1px solid black;
}

/* Table Links */
/* --- description text ---*/
td.il_Description {
   margin: 2px 0 5px;
   font-size: $il-font-size-small;
   font-weight: $il-font-weight-base;
   text-align: left;
}

td.il_Description_no_margin {
   font-size: $il-font-size-small;
   font-style: italic;
   text-align: left;
}
